html,
body {
    height: 100%;
    margin: 0;
}

.page-content {
    height: 100%;
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
